<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="PythonKC groups website. For all things Python in Kansas City." />
    <meta name="keywords" content="python, kansas city" />
    <meta name="viewport" content="initial-scale=1.0" />
    <title>PythonKC || For all things Python in Kansas City.</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}screen.css">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header role="banner"></header>
    
    <section class="next-meeting">
      <div class="wrap">
        <article>
          <div class="details">
          <header>
            <time>
              <h1>{{ next_event.time|date:"F j"|upper }}</h1>
              <p>{{ next_event.time|date:"gA" }}</p>
            </time>
          </header>
      <h2>{{ next_event.name|safe }}</h2>
      {% if next_event.venue_id %}<address>{{ next_event.venue_name }} // {{ next_event.venue_address1 }}{% if next_event.venue_address2 %}, {{ next_event.venue_address2 }}{% endif %} // {{ next_event.venue_city }}, {{ next_event.venue_state }} {{ next_event.venue_zip }}</address>{% else %}Venue TBD{% endif %}
      {% if next_event.description %}<p class="description">{{ next_event.description|safe }}</p>{% endif %}
      <p class="rsvp">RSVP at <a href="{{ next_event.event_url }}"><img src="{{ STATIC_URL }}meetup-logo.gif" alt="PythonKC Meetup RSVP for {{ next_event.name|safe }}"></a></p>
      </div>
        <div id="map_canvas" style="width:100%; height:100%"></div>
      </article>
    </div>
  </section>

  <section id="past-meetups">
    <div class="wrap">
      <h1>Past Events</h1> 
      <div class="slider-controls" id="slider-controls">
        <a href="#" class="btn-previous btn-control disabled" id="prev"> <span class="prev-arrow"></span></a>
        <a href="#" class="btn-next btn-control" id="next"><span class="next-arrow"></span></a>
      </div>
      <div id="evt-wrapper">
        {% for event in past_events %}
        <article class="past-event">
        <header>
          <h1><time datetime>{{ event.time|date:"F j, Y" }}</time></h1>
        </header>
      
      <h2>{{ event.name|safe }}</h2>
      <p>{{ event.description|safe }}</p>
      <div class="attendees">
          <h3>Attendees ({{event.attendees|length}})</h3>
          {% for attendee in event.attendees %}
          {% if attendee.photo.thumb_url %}
          <div title="{{ attendee.name }}" style="background-image: url( {{ attendee.photo.thumb_url }} );" class="attendee"></div>
          {% endif %}
        {% endfor %}
      </div>
    </article>
    {% endfor %}
    </div>
    </div>
  </section>

  <footer>
    <a class="top">Back to the top</a>
      <div class="wrap">
        <section>
          <article>
            <h1>POWERED BY</h1>
            <ul>
              <li><a href="http://www.python.org/">Python</a></li>
              <li><a href="http://djangoproject.com/">Django</a></li>
              <li><a href="https://gondor.io/">Gondor</a></li>
            </ul>
          </article>
          <article>
            <h1>FOLLOW US</h1>
            <ul class="follow">
              <li><a href="https://convore.com/pythonkc/">Convore</a></li>
              <li><a href="http://groups.google.com/group/pythonkc/">Google Group</a></li>
              <li><a href="http://www.linkedin.com/groups/PythonKC/">LinkedIN</a></li>
              <li><a href="http://www.meetup.com/pythonkc/">Meetup</a></li>
              <li><a href="http://twitter.com/pythonkc/">Twitter</a></li>
            </ul>
          </article>
      </section>
      {% comment %}
      <section>
      <div id="contact-form">
      </div>
      </section>
      {% endcomment %}
      <section>
        <div class="copyright">
        </div>
      </section>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    var pykc = window.pykc = pykc || {};
    pykc.map;

    pykc.mapInit = function() {
      var latlng = new google.maps.LatLng({{ next_event.venue.lat|default:past_events.0.venue.lat|default:-34.397 }}, {{ next_event.venue.lon|default:past_events.0.venue.lon|default:150.644 }});
      var opts = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      this.map = new google.maps.Map(document.getElementById("map_canvas"), opts);
      var venue = new google.maps.Marker({
        position: latlng, 
        map: this.map,
        title:'{{ next_events.venue }}'
      }); 
    }

    pykc.resizeMap = function(){
      this.$mapHolder = this.$mapHolder || $("#map_canvas");
      this.$mapHolder.width( this.$mapHolder.parent().width()/2);
      google.maps.event.trigger(this.map, 'resize');
    }

    pykc.$slides = $('#evt-wrapper').children();
    pykc.slideNum = 0;

    pykc.onPrev = function(e){
        var $ele = pykc.$slides.eq(pykc.slideNum-1);
        var eloffset = $ele.position().left;
        e.preventDefault();
        if (pykc.slideNum === 0) return;
        eloffset === 0 ?
            pykc.$slides.parent().animate({left: 0}) :
            pykc.$slides.parent().animate({left: '+='+eloffset})
        pykc.slideNum --;
        pykc.checkButtons('prev');
    }

    pykc.onNext = function(e){
        e.preventDefault();
        if (pykc.slideNum === pykc.$slides.length-1) return;
        var $ele = pykc.$slides.eq(pykc.slideNum+1);
        var eloffset = $ele.position().left;
        pykc.$slides.parent().animate({left: -eloffset});
        pykc.slideNum ++;
        pykc.checkButtons('next');
    }

    pykc.checkButtons = function(id){
        if ( pykc.slideNum === 0 || pykc.slideNum === pykc.$slides.length-1) {
            $('#'+id).addClass('disabled');
        }else{
            $('.btn-control').removeClass('disabled');
        }
    }

    pykc.init = function(){
      $('.top').click(function(e){
        e.preventDefault();
        $('html, body').animate({scrollTop: 0}, 300);
      });
      $('#prev').click(pykc.onPrev);
      $('#next').click(pykc.onNext);
      this.mapInit();
      this.resizeMap()
    }

    $(function(){ pykc.init(); });
  </script>
</body>
</html>
