/* ---------- RESET ---------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
textarea, input { border: 1px solid #ddd; background: #FFFFFF; font-weight: normal; color: #333; font-size: 13px; }
ul, li { list-style: none; }
a { text-decoration: none; color:#646565; text-decoration: underline;}
a:hover { text-decoration: none; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

html { height: 100%; background: #87cded; }
body { 
    height: 100%;
    margin: 0;
    padding: 0;
    font: 16px/1.4 'Helvetica Neue', Arial, Helvetica, sans-serif normal; 
    color: #646565;
    background-image: -moz-radial-gradient(50% 28%, circle cover, rgba(255,255,255, .3) 0%,#87cded 18.0%);
    background-image: -webkit-radial-gradient(50% 28%, circle cover, rgba(255,255,255, .3) 0%,#87cded 18.0%);
    background-image: -o-radial-gradient(50% 28%, circle cover, rgba(255,255,255, .3) 0%,#87cded 18.0%);
    background-image: -ms-radial-gradient(50% 28%, circle cover, rgba(255,255,255, .3) 0%,#87cded 18.0%);
    background-image: radial-gradient(50% 28%, circle cover, rgba(255,255,255, .3) 0%,#87cded 18.0%);
}

header[role="banner"]{ height: 145px; background: url(logo.png) center center no-repeat; }
.wrap{ width: 930px; position: relative; margin: 0 auto; padding: 0 15px;
    overflow: hidden;
}

section h1{
    color: #ffffff;
    font:bold 36px/1.4 'Helvetica Neue', Arial, Helvetica;
    text-transform: uppercase;
}
h3{
    margin-bottom: 5px;
}
.next-meeting { 
    background-color: white; 
    border-top: 3px solid #a8dbf2; 
    border-bottom: 3px solid #a8dbf2;
}

.next-meeting .details {
    padding: 30px 0 40px 0;
    width: 450px;
}

.next-meeting h1 {
    font-size: 44px;
    line-height: 30px;
    color: #646565;
}

.next-meeting h2 {
    font-size: 24px;
    padding-top: 15px;
}

.next-meeting time p {
    font-size: 33px;  
}

.next-meeting p.rsvp {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;    
}

.next-meeting p.rsvp a {
    position: absolute;
    padding-left: 10px;
}
#past-meetups{
    padding-top: 50px;
}
.past-event h1{
    font-size: 27px;
    color: #646565;
    margin: 15px 0;
}
.past-event h2{
    font-size: 20px;
    color: #646565;
    margin-bottom: 5px;
}

footer {
    color: #FFFFFF;
    background: #219cd7;
    font-size: 13px;
    padding: 40px 0;
    position: relative;
    border-top: 3px solid #a8dbf2;
}

footer h1 {
    margin-bottom: 15px;
    font-size: 13px;

}

footer a.top {
    position: absolute;
    top: -30px;
    right: 100px;
    cursor: pointer;
    background: url(arrow-top.png) no-repeat scroll 0 0 transparent;
    text-indent: -9999px;
    overflow: hidden;
    height: 65px;
    width: 65px;
}

footer section article {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: 175px;
}

footer ul li {
    line-height: 22px;
}

footer ul li a {
    color: #FFFFFF;
}

footer ul.follow {
    background: url(footer-follow.png) no-repeat scroll 0 0 transparent;
    height: 165px;
}

footer ul.follow li {
    padding: 0 0 14px 25px;
}

#map_canvas { 
    position: absolute; 
    right: 0;
    top: 0;
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
}
#evt-wrapper{
    width: 10000px;
    position: relative;
    left: 0;
}
article.past-event{
    display: inline-block;
    width: 945px;
    vertical-align: top;
}
.slider-controls {
    position: absolute;
    top: 15px;
    left: 275px;
    z-index: 10;
}
.btn-control { display: inline-block; 
    background: #fff;
    padding: 4px 8px 4px 6px;
    border-radius: 18px;
}
.btn-next{
    padding: 4px 6px 4px 8px;
}
.prev-arrow, .next-arrow{
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #646565;
    border-bottom: 5px solid transparent;
}
.next-arrow{
    border-right: none;
    border-left: 6px solid #646565;
}
.disabled {
    opacity:.5;
}
.attendee{
    background-size: 50px 50px;
    background-position: top center;
    background-repeat: no-repeat;
    float: left;
    margin: 0 5px 5px 0;
    height: 50px;
    width: 50px;
    border: 3px solid white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.attendees{
    margin-top: 30px;
}
.read-more{
    display: inline-block;
    margin: 10px 0;
}
section.resources{
    padding: 30px 0;
}
.resources article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 32%;
    float:left;
    vertical-align: top;
}
.resources article h1{
    text-transform: none;
    color: #646565;
    font-size: 27px;
}
.resources li { margin: 5px 0;}
.resources a { font-weight: bold;}
.author{
    display: block;
    font-weight: normal;
    font-size: 80%;
}
